body{
    background-color: black;
    text-align: center;
    color: ivory;
}
hr{
    width: 80%;
}
.name{
    color: rgb(159, 223, 95);
    font-size: 50px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px;
}
.origin{
    margin: 50px;
    font-size: 25px;
}